#header {
    padding: 30px 0;
    position: sticky;
    top: 0;
    z-index: 1;

    @include media-breakpoint-up(lg) {
        padding: 50px 0;
    }

    .burger {
        background: none;
        border: none;
        padding: 0;

        @include media-breakpoint-up(xl) {
            margin: 0 22px;
        }
    
        span {
            width: 50px;
            height: 2px;
            margin-bottom: 12px;
            background-color: #fff;
    
            &:last-child {
                width: 35px;
                margin: 0;
            }
        }
    }
    
    .custom-logo-link,
    .burger {
        transition-duration: .2s;
    
        &:hover {
            opacity: .8;
        }
    }
}
