.section-hero {
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
        padding-top: 170px;
        margin-bottom: 75px;
    }

    .bg-holder {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 500px;
        padding: 50px 0;
        
        @include media-breakpoint-up(sm) {
            min-height: 800px;
            padding: 100px 0;
        }

        @include media-breakpoint-up(xl) {
            min-height: 1080px;
        }
    }

    h1 {
        font-weight: 400;

        @include media-breakpoint-up(xl) {
            max-width: 800px;
            margin-bottom: 15px;
        }
    }

    p {
        font-weight: 200;
        margin-bottom: 50px;

        @include media-breakpoint-up(sm) {
            margin-bottom: 230px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 40px;
            color: #798698;
            max-width: 500px;
        }
    }
}