h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-weight: 600;
}

h1,
.h1 {
    line-height: 1.12;

    @include media-breakpoint-up(sm) {
        font-size: 60px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 90px;
    }
}