.section-what-we-do {
    color: #798698;
    font-size: 22px;

    .row {
        margin-bottom: 80px;

        &:nth-child(1n) {

            .text-holder {
            
                @include media-breakpoint-up(lg) {
                    margin-right: 30px;
                }
            }
        }

        &:nth-child(2n) {
            flex-direction: row-reverse;
            
            .text-holder {
            
                @include media-breakpoint-up(lg) {
                    margin-left: 30px;
                }
                            
                @include media-breakpoint-up(xl) {
                    margin-left: 95px;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 200px;
        }
    }

    .title {
        font-size: 30px;
        color: #00638b;
        line-height: 1;
        margin-bottom: 30px;

        @include media-breakpoint-up(lg) {
            font-size: 55px;
        }
    }

    p {

        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }

    .number {
        font-size: 30px;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 30px;
        color: #798698;

        @include media-breakpoint-up(lg) {
            font-size: 40px;
        }
    }

    img {
        box-shadow: 0 0 30px 0 rgba(#000, .3);
    }
}